@charset "utf-8";
/* CSS Document */
/*供货记录*/
.ghjl_con{
	background:#f9f9f9;
	overflow:hidden;
	
	}
.ghjl_con dl{margin-top:20px;}
.sort_brand {
	width: 1300px;
    height:100%;
	overflow: hidden;
}
.sort_brand dt {
	height: 75px;
    background:url(../images/gha.png) no-repeat;
	width:800px;
	margin:0 auto;
}
.sort_brand dt a {
	margin-top:5px;
    width: 383px;
	height: 65px;
	line-height: 65px;
	text-align: center;
	display: inline-block;
    position: relative;
	margin-left: -1px;
	color:#454545;
}
.sort_brand dt a.on {

	font-weight: bold;
	background:url(../images/on.png) no-repeat;
	color:#fff;
	margin-left:6px;
	
}
.sort_brand dt a:hover, .sort_brand dt a.on: hover {
	color: #454545;
}
.sort_brand p.scroll_btn a {
	width: 13px;
	height: 13px;
	display: block;
	float: left;
	color: #fff;
	background: #CCC;
	line-height: 13px;
	text-align: center;
	margin-right: 6px;
	_display: inline;
	cursor: pointer;
}
.sort_brand p {
	float: right;
	margin-top: 10px;
}
.sort_brand p.scroll_btn a:hover, .sort_brand p.scroll_btn a.on {
	background: #C00;
}

.scroll_wrapper {
	height:100%;
	width: 1300px;
	position: relative;
	margin:20px auto;
	background:#fff;
	border-radius:10px;
	border:1px solid #dedede;
	padding-bottom:20px;
	
}
.content_left{ margin:20px auto}
.content_left .title{height:45px; background:#ff6637; color:#fff; padding:0 20px; line-height:45px; font-size:16px}
.content_left .title span{background:url(img/ioc.png) no-repeat 0 center; padding-left:22px;}

.left_nav ul{margin-top:-1px;}
.left_nav li{padding:0 10px; border-radius:10px;border:0px solid #dedede; margin-top:20px; background:#fff;}
.left_nav li .t{position:relative;height:60px;line-height:60px;font-size:16px;color:#454545;font-weight:600; }
.left_nav li .t i{position:absolute; right:0; top:0; width:18px; height:50px;background:url(../images/ioc_l.png) no-repeat 0 center; cursor:pointer}
.left_nav li .t a,.left_nav li .t.hover:hover a{color:#000}
.left_nav li .t:hover i{background:url(../images/ioc_la.png) no-repeat 0 center;}
.left_nav li .t:hover a{color:#ff5825}
.left_nav li .t.hover i{background:url(../images/ioc_b.png) no-repeat 0 center; }

.left_nav li .txt p{line-height:30px; height:30px; overflow:hidden}
.left_nav .more{background:#ff6637; display:block; width:120px; height:30px; margin:0 auto; text-align:center; line-height:30px; color:#fff; cursor:pointer;border-radius:50px;-moz-border-radius:50px;-webkit-border-radius:50px; overflow:hidden}
.left_nav .more:hover{background:#ff5825}
.left_nav .more span{padding-right:18px; background:url(../images/ioc_ba.png) no-repeat right center;}
.left_nav .more.hover span{background:url(../images/ioc_t.png) no-repeat right center;}

.explain_txt{width:860px; margin:0 auto; line-height:40px; padding:0 0 200px 0; font-size:16px}
.txt li{width:100%;}
.txt li ul li{float:left;width:25%; height:50px;line-height:50px; border-bottom:1px solid #dedede;padding-bottom:10px;}
.aort_list{padding-top:30px; text-align:center; margin-right:260px; font-size:14px;}
.aort_list em{border:1px dashed #999;padding:8px 20px; font-size:22px;color:#999;}
.txt table{font-size:14px;}
	

	